// -----------------------------------------------------------------------------
// Variables.
// -----------------------------------------------------------------------------
$black : #363840;
$white : #FFFFFF;
$brand : #CB202D;

