// -------------------------------------
// Demo Farm Page
// -------------------------------------

.demo-page-banner {
  @include responsive('height', 400px, 400px, 500px);
  @include cover();
}

.demo-banner-heading {
  @include responsive('margin-top', 120px, 120px, 210px);
}

.demo-page-main {
  @include responsive('padding-top', 40px, 40px, 80px);
  @include responsive('padding-bottom', 40px, 40px, 90px);
}

// Demo Farm Aside
// -----------------------
.demo-aside {
  @include responsive('margin-top', 30px, 40px, 40px, 0);
  @include responsive('margin-right', 0, 0, 0, 15px, 15px);
  @include responsive('padding-top', 15px, 15px, 15px, 15px, 30px);
  @include responsive('padding-right', 15px, 15px, 15px, 15px, 30px);
  @include responsive('padding-bottom', 20px, 20px, 30px);
  @include responsive('padding-left', 20px, 20px, 30px);
  hr {
    width        : 70px;
    border-color : red;
    margin       : 15px 0 25px;
  }
  a {
    font-weight : 600;
  }
}

.demo-map-image{
  display: block;
}

// Main Column
// -----------------------
.demo-col {
  @include responsive('padding-left', 15px, 15px, 15px, 15px, 30px);
}

.reports-container {
  padding : 10px 0;
}

.document-icon {
  @include responsive('height', 28px, 50px);
  &.small{
    display: block;
    margin :0 0 0 20px;
    height : 30px;
  }
}

.demo-video {
  margin-bottom : 30px;
}

.video-player {
  width : 100%;
  @include responsive('height', 180px, 350px, 335px, 335px, 350px);
}

.report {
  @include responsive('font-size', 16px, 18px);
  width :47%;
  display       : inline-block;
  line-height   : 2;
  margin-bottom : 25px;
  img {
    margin-right : 10px;
  }
}

.report-title{
  @include responsive('margin-right', 10px, 30px);
  @include responsive('margin-left', 2px, 10px);
}

.reports-archive{
  td{
    vertical-align: middle!important;
  }
}

.demo-content {
  h2 {
    margin-top : 20px;
  }
  .demo-content-lead {
    margin-bottom : 40px;
  }
  p {
    margin-bottom : 10px;
  }
  ul {
    padding-left : 15px;
  }
  li {
    font-family : 'Roboto', sans-serif;
    font-weight : 300;
    line-height : 1.66;
  }
  hr {
    width         : 80px;
    border-color  : red;
    margin-top    : 25px;
    margin-bottom : 25px;
    margin-left   : 0;
  }
  .anchor-link {
    color       : color(red);
    font-weight : 400;
  }
}

.demo-table {
  position : relative;
  p {
    margin      : 0;
    font-size   : 12px;
    line-height : 1.8;
  }
  h4 {
    margin : 0;
  }
  .left {
    position   : absolute;
    top        : 0;
    bottom     : 0;
    border     : 1px solid color(white);
    padding    : 10px 0 0 0;
    width      : 30%;
    color      : color(white);
    background : color(red);
    text-align : center;
  }
  .season {
    @include vertical-align(absolute);
    width : 100%;
  }
  .top {
    width       : 70%;
    margin-left : 30%;
    border      : 1px solid color(white);
    padding     : 10px 20px 10px 20px;
    min-height  : 100px;
    background  : #F5F5F5;
  }
  .bottom {
    display     : block;
    border      : 1px solid color(white);
    width       : 70%;
    margin-left : 30%;
    padding     : 10px 20px 10px 20px;
    background  : #989898;
    color       : color(white);

  }
}

// Demo Feature Section
// -----------------------

.demo-content4-section {
  padding    : 30px 0 60px;
  text-align : center;
  .border {
    @media screen and (min-width : $screen-sm) {
      border-left  : 1px solid color(red);
      border-right : 1px solid color(red);
    }
  }
  hr {
    width         : 80px;
    border-color  : red;
    margin-top    : 25px;
    margin-bottom : 25px;
  }
}

.demo-content4-heading {
  margin-bottom : 10px;
}

.demo-article {
  padding          : 60px 0;
  background-image : url('../images/demo-background.png');
  background-color : rgba(20, 20, 20, 0.9);
  @include cover();
}

.demo-article-image {
  @include responsive('margin-top', 38px);
  @include responsive('margin-left', 0, 0, 0, 0, 30px);
}

.payback-item {
  padding-top : 5px;
}

// Supporters Section
// -----------------------
.supporters-section {
  padding : 60px 0;
}

.supporters-heading {
  margin-bottom : 25px;
}

.supporter {

  @media screen and (min-width : $screen-xs) {
    display : inline-block;
    width   : 30%;
  }
  @media screen and (min-width : $screen-sm) {
    width : 19%;
  }
}

.supporter-logo {
  margin : 20px auto;
}

.fb-container {
  overflow : hidden;
}

.fb-page {
  transform : scale(0.95);
  left      : -10px;
  @media screen and (min-width : $screen-xs) {
    left      : 40px;
    top       : 20px;
    transform : scale(1.1);
  }
  @media screen and (min-width : $screen-md) {
    transform : scale(0.8);
    left      : -45px;
    top       : 0;
  }
  @media screen and (min-width : $screen-lg) {
    left      : 0;
    transform : scale(1);
  }
}