// -----------------------------------------------------------------------------
// FAQ
// -----------------------------------------------------------------------------
.faq-page-heading {
  margin : 80px 0 50px;
}

.faq-main {
  padding-bottom : 100px;
  min-height     : 800px;
}

.question-category-heading {
  display : block;
}

.category-title {
  margin-top : 20px;
  color : color(red);
}

// Accordian
// ----------------------------
.js-link {
  color : color(dark);
  &.active {
    color : color(red);
  }
  &:focus {
    //color: color(dark);
  }
}

.questions-outer {
  margin-bottom :40px;
  //height     : 0;
  //overflow   : hidden;
  //transition : all 300ms ease;
}