// -----------------------------------------------------------------------------
// News Page
// -----------------------------------------------------------------------------
.news-page-heading {
  @include responsive('margin-top', 30px, 30px, 80px);
  @include responsive('margin-bottom', 20px);
}

.news-page-hr {
  margin-bottom : 50px;
}

.news-content {
  margin : 20px 0 80px;
}

.recent-news-item {
  margin-bottom : 30px;
}

// Pagination
// ----------------------------
.news-page-pagination {
  padding : 80px 0 50px;
  @include responsive('margin-top', 50px, 50px, 0);
  .pagination-link {
    @include foundry;
    font-size   : 13px;
    font-weight : 400;
    &.active {
      color : color(red);
    }
  }
  .pagination-arrow {
    display    : inline-block;
    padding    : 0 30px;
    position   : relative;
    top        : -10px;
    transition : all 200ms ease-in-out;
    @include responsive('padding-left', 0, 0, 30px);
    @include responsive('padding-right', 0, 0, 30px);
    img {
      padding    : 0 10px;
      transition : all 200ms ease-in-out;

    }
    &.next:hover img {
      margin-left  : 10px;
      margin-right : -10px;
    }
    &.prev:hover img {
      margin-left  : -10px;
      margin-right : 10px;
    }
  }
}