// -----------------------------------------------------
// Search Page
// -----------------------------------------------------
.search-page-main {
  @include responsive('padding-bottom', 40px, 40px, 80px);
  @include responsive('padding-top', 40px, 40px, 80px);
}

.search-results-row {

}

// Search Form
// -----------------
.search-page-main .search-form {
  #SearchForm_SearchForm_Search_Holder {
    display : inline-block;
    width   : 70%;
    @media screen and (max-width : $screen-xs) {
      width         : 100%;
      margin-bottom : 15px;
    }
  }
  input[type="submit"] {
    @include foundry;
    font-weight    : 600;
    cursor         : pointer;
    border         : 1px solid transparent;
    letter-spacing : 1px;
    text-transform : uppercase;
    transition     : all 200ms ease-in-out;  // @todo change this from all so its correct.
    @include button-size($pad-x : 26px, $pad-y : 15px, $font-size : 16px, $line-height : 1, $border-radius : 3px);
    @include button-variant($color : color(white), $background : color(dark), $border : color(dark));
    padding-bottom : 14px;
  }
  .Actions{
    display: inline-block;
  }
}