// -----------------------------------------------------------------------------
// Locations
// -----------------------------------------------------------------------------
.locations-header {
  position : relative;
  @include responsive('padding-top', 40px, 40px, 80px);
  @include responsive('padding-bottom', 40px, 40px, 40px, 200px);
  h2 {
    @include responsive('font-size', 20px, 24px, 32px);
  }
}

.locations-header-heading {
  margin-bottom : 30px;
}

.map-holder {
  @media screen and (min-width : $screen-md) {
    position : absolute;
    right    : 100px;
    top      : 100px;
    height   : auto;
  }
  img {
    @include responsive('height', 360px, 490px);
    @include responsive('margin-top', -240px, -250px);
    margin-left   : auto;
    margin-right  : auto;
    margin-bottom : 30px;
    @media screen and (min-width : $screen-md) {
      margin : 0;
      height : auto;
    }
  }
}

.locations {
  margin : 40px 0 30px;
}

.location-header-copy {
  max-width : 480px;
}

// Feature Locations
// -----------------------
.feature-locations-section {
  @include responsive('padding-top', 20px, 20px, 80px);
  @include responsive('padding-bottom', 20px, 20px, 100px);
}

.feature-location {
  @include responsive('margin-bottom', 20px, 20px, 80px);
}

.location-image-holder {
  float : left;
  width : 27.5%;
}

.team-image-holder {
  position: relative;
  float : right;
  width : 71.5%;
}

.feature-location-heading {
  margin-bottom : 20px;
}

.feature-location-copy {
  margin-top : 20px;
  max-width  : 600px;
}

.location-content{
    position: absolute;
    bottom: 0;
    left :0;
    width :260px;
    padding :5px 20px 5px 50px;
    background : rgba(40, 40, 43, 0.9);
  @media screen and (max-width: $screen-xs){
    width :100%;
    height :100%;
  }
}