// -----------------------------------------------------------------------------
// News Center
// -----------------------------------------------------------------------------
.news-center-heading {
  @include responsive('margin-top', 40px, 40px, 80px);
  @include responsive('margin-bottom', 30px, 30px, 80px);
}

.news-categories-list {
  @include responsive('margin-bottom', 0, 0, 80px);
  .divide {
    position    : relative;
    top         : -2px;
    font-weight : 300;
    font-size   : 18px;
  }
}

.news-collection-container {
  margin-bottom : 100px;
}

.news-category-link {
  padding : 0 5px;
}

// News Summary Item
// ----------------------------
.news-summary-item {
  margin-bottom : 30px;
  margin-top    : 30px;
}

.news-summary-heading {
  margin-top : 0;
}

.news-summary-img {
  max-width      : 340px;
  vertical-align : top;
  margin-right   : 20px;
  margin-top     : 2px;
}

.news-summary-content {
  display   : inline-block;
  max-width : 480px;
}

