// Home Page
//-------------

.hero {
  position : relative;
  @include cover();
  height   : 420px;
  &:before {
    position         : absolute;
    content          : '';
    top              : 0;
    bottom           : 0;
    right            : 0;
    left             : 0;
    background-color : rgba(40, 40, 40, 0.5);
    z-index          : 1;
  }
}

.hero-content {
  position  : absolute;
  top       : 45%;
  transform : translateY(-50%);
  width     : 100%;
  z-index   : 10;
}

.hero-heading {
  text-align     : center;
}

.hero-search {
  display: inline-block;
 @include horizontal-align();
  margin-top: 30px;
}

.btn-group{
  margin: 10px;
}

.button{
  height :40px;
  margin-bottom    : 0; // For input.btn
  font-weight      : 400;
  vertical-align   : middle;
  touch-action     : manipulation;
  cursor           : pointer;
  background-image : none;
  white-space      : nowrap;
  border           : none;
  letter-spacing   : 1px;
  background       : $white;
  border-radius    : 0px;
  padding          : 10px 80px;
}