.onfire-link{
  border-bottom: 1px solid transparent;
  transition: color 300ms ease-in-out, border-bottom 300ms ease-in-out;
  &:hover{
    color: #ef3340;
    border-bottom: 1px solid #ef3340;
  }
}