// -----------------------------------------------------
// Pagination
// * Default pagination styles. Used on News center and Search Page
// See news-page for that pagination
// -----------------------------------------------------

.pagination {
  margin-bottom : 100px;
  margin-top    : 60px;
  .pagination-link {
    @include foundry;
    font-size   : 15px;
    font-weight : 400;
    &.active {
      color : color(red);
    }
  }
  .pagination-arrow {
    display    : inline-block;
    position   : relative;
    top        : -16px;
    transition : 200ms all ease-in-out; //@todo: change this from all to be correct.
    padding    : 0 30px;
    @include responsive('padding-left', 0, 0, 30px);
    @include responsive('padding-right', 0, 0, 30px);
    &.next:hover {
      margin-left  : 10px;
      margin-right : -10px;
    }
    &.prev:hover {
      margin-left  : -10px;
      margin-right : 10px;
    }
  }
}