// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------
.footer-banner {
  padding : 45px 0;
}

.footer-banner-phone {
  a {
    font-size  : 23px;
    color      : color(white);
    margin-top : 8px;
    @media screen and (max-width : $screen-sm) {
      font-size  : 16px;
      text-align : center;
    }
    &:hover {
      color : color(grey);
      span {
        color : color(white);
      }
    }

    i {
      margin-right : 6px;
      position     : relative;
      top          : 2px;
    }
    span {
      color      : color(grey);
      transition : 300ms color ease-in-out;

    }
  }
}

.footer-social-icons {
  padding-top : 8px;

  a {
    color : color(white);
    &:hover {
      .fa-facebook {
        color : color(facebook);
      }
      .fa-twitter {
        color : color(twitter);
      }
      .fa-youtube-play {
        color : color(youtube);
      }
    }
  }
  .fa {
    transition : 300ms color ease-in-out;
    font-size  : 24px;
    margin     : 0 16px;
    //color     : #989898;
  }
  @media screen and (max-width : $screen-sm) {
    .fa {
      margin : 0 6px;
    }
    text-align : center;
    padding    : 15px 0 30px;
  }
}

.footer {
  @include responsive('padding-top', 40px, 40px, 50px);
  @include responsive('padding-bottom', 10px, 10px, 40px);
  @include responsive('padding-left', 20px, 20px, 0);
  @include responsive('padding-right', 20px, 20px, 0);
}

.footer-content {
  @include responsive('margin-bottom', 30px, 30px, 30px, 0);
  margin-bottom : 30px;
}

.footer-logo {
  @include retinaImage1point5('../images/logos/OSPLogoBlack_26.png', '../images/logos/OSPLogoBlack_52.png', 62px, 26px);
  display        : inline-block;
  vertical-align : middle;
  width          : 62px;
  height         : 26px;
  margin-right   : 10px;
}

.footer-heading {
  display        : inline-block;
  margin-bottom  : 20px;
  letter-spacing : 1px;
}

.footer-links {
  margin : 0;
}

.footer-link a {
  display : inline-block;
  margin  : 4px 0;
}

.footer-tcs {
  margin-top : 45px;
  position   : relative;
  a {
    &:hover {
      color : color(red);
    }
  }
  @media screen and (max-width : $screen-md) {
    margin-top : 20px;
    text-align : center;
  }
}

.footer-tcs-logo {
  @include retinaImage1point5('../images/logos/ManildraStockFeed50.png', '../images/logos/ManildraStockFeed100.png', 175px, 50px);
  width  : 175px;
  height : 50px;
  margin : 20px 40px;
  @media screen and (min-width : $screen-md) {
    @include retinaImage1point5('../images/logos/ManildraStockFeed65.png', '../images/logos/ManildraStockFeed100.png', 228px, 65px);
    position : absolute;
    width    : 228px;
    height   : 65px;
    bottom   : -20px;
    right    : -6px;
    margin   : 0;
  }
}

.tcs-copy, .tcs-copy a {
  @include foundry;
  font-weight : 300;
  color       : #CCCCCC;
}

// Search Form
// ----------------
.search-form-row {
  padding-top : 10px;
}

.footer-banner .search-form {
  .form-control {
    background                 : transparent;
    border-color               : color(grey);
    color                      : color(grey);
    border-top-left-radius     : 5px;
    border-bottom-left-radius  : 5px;
    border-top-right-radius    : 0;
    border-bottom-right-radius : 0;
    border-radius              : 3px;
    height                     : 40px;

    transition                 : 300ms border-color ease-in-out;
    position                   : relative;
    &:focus {
      border-color : color(red);
    }
  }
  input[type="submit"] {
    position                   : absolute;
    padding                    : 0 22px 18px 26px;;
    right                      : 16px;
    top                        : 1px;
    display                    : inline-block;
    background-repeat          : no-repeat;
    background-image           : url("../images/search-icon.png");
    background-color           : color(dark);
    background-position        : center;
    width                      : 25px;
    text-indent                : 6099999999px;
    border                     : none;
    //border-left                : 1px solid color(grey);
    border-top-left-radius     : 0;
    border-bottom-left-radius  : 0;
    border-top-right-radius    : 2px;
    border-bottom-right-radius : 2px;
    overflow                   : hidden;
  }
}