// -----------------------------------------------------------------------------
// Header / Main Navigation
// -----------------------------------------------------------------------------

// Site Menu
// -----------------------------------------------------------------------------

.site-menu {
  @include responsive('padding-right', 20px, 20px, 20px, 20px, 20px, 100px);
  background-color : color(red);
  @media screen and (min-width : $screen-md) {
    background-color : color(white);
  }
}

.red-header-box {
  display     : inline-block;
  margin-left : -15px;
  @include responsive('padding-top', 15px, 15px, 15px, 28px, 30px);
  @include responsive('padding-bottom', 5px, 5px, 5px, 22px, 24px);
  @include responsive('padding-left', 30px, 30px, 40px, 70px, 140px, 170px);
  @include responsive('padding-right', 0, 0, 0, 15px);
  background  : color(red);
  @media screen and (min-width : 2000px) {
    padding-left  : 280px;
    padding-right : 50px;
  }
}

.header-logo-container {
  display      : inline-block;
  margin-right : 40px;
  .header-logo {
    width  : 120px;
    height : 50px;
    @include retinaImage1point5('../images/logos/OSP-LogoWhite_50.png', '../images/logos/OSP-LogoWhite_100.png', 120px, 50px);
    @media screen and (min-width : $screen-md) {
      height : 70px;
      width  : 168px;
      @include retinaImage1point5('../images/logos/OSP-LogoWhite_70.png', '../images/logos/OSP-LogoWhite_140.png', 168px, 70px);
    }
  }
}

.site-menu-links {
  display        : inline-block;
  line-height    : 100px;
  margin-bottom  : 0;
  text-transform : uppercase;
  @include responsive(' margin-top', 23px, 23px, 23px ,22px, 26px);
}

.site-menu-item {
  position    : relative;
  line-height : 1.5;
  padding     : 0 !important;
  transition  : all 300ms ease-in-out;
  &.nav-dropdown:hover {
    background : color(red);
    .site-link {
      color : color(white);
    }
    .site-menu-chevron{
      color : color(white);
    }
  }
  &:hover i {
    color : color(red);
  }
}

.site-link {
  display        : inline-block;
  @include foundry;
  font-size      : 16px;
  font-weight    : 600;
  padding-top    : 14px;
  padding-bottom : 8px;
  margin-bottom  : 0;
  transition     : all 300ms ease-in-out;
  letter-spacing : 1px;
  &.current, &.section {
    color : color(red);
  }
  padding-left   : 10px;
  padding-right  : 10px;
  @media screen and (min-width : 1200px) {
    padding-left  : 10px;
    padding-right : 10px;
  }
  @media screen and (min-width : 1400px) {
    padding-left  : 22px;
    padding-right : 22px;
  }
}

.site-menu-chevron {
  position : relative;
  left     : -9px;
  @media screen and (min-width : 1400px) {
    left : -18px;
  }
  transition  : all 300ms ease-in-out;
  &.current, &.section {
    color : color(red);
  }
}

.site-menu-dropdown {
  position    : absolute;
  display     : none;
  background  : color(red);

  box-shadow  : 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  top         : 48px;
  padding     : 15px 10px 15px 12px;
  width       : 205px;
  line-height : 14px;
  z-index     : 99;
}

.site-dropdown-link {
  padding : 6px 12px;
  text-transform: capitalize;
  a {
    color       : (white);
    font-size: 16px;
    font-weight : 500;
    transition: all 0.3s ease;
    &:hover{
      color: color(dark);
    }
  }
}

.nav-btn {
  position    : relative;
  margin-left : 18px;
  a {
    margin-top : -4px;
  }
  h4 {
    position       : absolute;
    top            : -8px;
    left           : 7px;
    letter-spacing : 1px;
  }
}

// Mobile Menu
// -----------------------------------------------------------------------------
.mobile-menu {
  background : color(red);
  height     : 0;
  transition : all 300ms ease-in-out;
  overflow   : hidden;
  hr{
    margin-top :10px;
    margin-bottom :10px;
    @include responsive('margin-left', 30px, 50px, 80px);
    @include responsive('margin-right', 30px, 80px, 140px);
  }
}

.mobile-menu-list {
  padding-top :60px;
  padding-bottom :10px;
  @include responsive('padding-left', 30px, 50px, 80px);
  @include responsive('padding-right', 30px, 50px, 80px);
}

.mobile-site-link {
  @include foundry;
  display        : inline-block;
  color          : color(white);
  text-transform : uppercase;
  font-weight    : 600;
  font-size      : 18px;
  letter-spacing: 1px;
  &:focus, &:hover, &.current {
    color : color(dark);
  }
}

.mobile-hamburger {
  color      : color(dark);
  transition : all 200ms ease;
  margin     : 5px 0px 10px 0;
  width      : 48px;
  overflow   : hidden;
}

.hamburger-text {
  color          : color(white);
  text-transform : uppercase;
  font-size      : 10px;
  font-weight    : 600;
  margin-left    : 1px;
}

.mobile-close {
  display : inline-block;
  margin  : 15px 16px;
}

.mobile-menu-enquire {
  display : inline-block;
  margin  : 30px auto 40px !important;
  @include horizontal-align();
}